:root {
  --cream: #fefae0;
  --pink: #dc9d8f;
  --purple: #69646f;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  text-align: center;
  background-color: var(--cream);
}

p {
  font-size: 16px;
}

h2 {
  font-size: 2em;
  text-decoration: underline var(--pink);
}

.page-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

main {
  margin: auto 100px;
}

/*Navigation*/

header {
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color: var(--pink);
}

header h1 {
  font-size: 35px;
  width: 50%;
  color: var(--cream);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li {
  display: inline;
  font-size: 20px;
  padding: 25px;
}

header a {
  color: var(--cream);
  text-decoration: none;
}

header a:hover {
  color: var(--purple);
}

/*Banner*/

.hero-banner {
  background-image: url("../images/hero_banner.png");
  background-size: cover;
  background-position: center;
  height: 250px;
}


/*About Me*/

#container-about {
  display: flex;
}

#about img {
  height: 250px;
  justify-content: flex-start;
}

#about p {
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}

/*Projects*/

.container-project {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
  grid-template-areas: 
  "main main"
  "second third";
}

.project-section {
  border: var(--purple) solid 3px;
  background-color: var(--purple);
}

#main-project {
  grid-area: "main";
  background-image: url("../images/02-portfolio-1.jpg");
  background-size: cover;
}

#second-project {
  grid-area: "second";
  background-image: url("../images/02-portfolio-2.jpg");
  background-size: cover;
}

#third-project {
  grid-area: "third";
  background-image: url("../images/02-portfolio-3.jpg");
  background-size: cover;
}

#projects h3,
#projects h4 {
  color: var(--cream);
  font-size: 20px;
}

/*Contact Me*/

#contact {
  background-color: var(--pink);
}

#contact li {
  display: inline;
  font-size: 15px;
  padding: 20px;
}

#contact a {
  text-decoration: none;
  color: var(--cream);
}

#contact a:hover {
  color: var(--purple);
}